@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary_color:#004225;
    --light-green:#19553B;
    --light-cream:#F1F1EB;
    --lines:#608E77;
    --hover:#E3E9E7;
    --iconBg:#C2CDC1;
    --darkTextColor:#1A1A1A;
    --headingTextKarkiColor:#C9A227;
    --karkiHover:#E2DAC4;
    --bodeBackgroundColor:#F8F6F1;
    --IconBackgroundColor:#E5ECE9;
    --navlink:#6B7280;
    --textGrayColor:#7D7280;
    --whiteTextColor:#FFF;

    /*FONTS*/
    --fontFamily:"Nunito", sans-serif;
    --fontSizeBase:1rem;
    --fontSizeLarge:1.25rem;
    --fontSizeXtraLarge:2rem;
    
    /*MAX WIDTH*/
    --maxWidth:1200px;

    /*SPACING*/
    --spacingSmall:0.5rem;
    --spacingMedium:1rem;
    --spacimgLarge:2rem;
}
.heroSection{
    width: min(100% - 2rem, var(--maxWidth));
    margin: 100px auto 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.heroSectionLeft{
    flex: 1;
}

.badge{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 18px;
    background: rgba(31, 138, 112, .12);
    color: var(--primary_color);
    font-size: .85rem;
    font-weight: 700;
    border-radius: 100px;
    margin-bottom: 20px;
    letter-spacing: .5px;
}

.heroSectionLeft h1{
    font-size: clamp(2rem, 3vw, 3.5rem);
    line-height: 1.3;
    font-weight: 800;
    color: var(--darkTextColor);
    margin-bottom: 10px;
}
.heroSectionLeft h1 span{
    color: var(--headingTextKarkiColor);
}

.heroSectionLeft p{
    font-size: 1.05rem;
    line-height: 1.8;
    color: var(--t);
    max-width: 620px;
    margin-bottom: 35px;
}
.heroButtons{
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.primaryBtn,
.secondaryBtn{
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: 700;
    transition: .3s ease;
}
.primaryBtn{
    background: var(--lines);
    color: white;
}
.primaryBtn:hover{
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0,0,0,.15);
}
.secondaryBtn{
    border: 2px solid var(--primary_color);
    color: var(--primary_color);
}
.secondaryBtn:hover{
    background: var(--primary_color);
    color: white;
}
.heroSectionRight{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroSectionRight img{
    width: 100%;
    max-width: 1500px;
    height: auto;
    object-fit: cover;
    animation: floatImage 5s ease-in-out infinite;
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-12px);
    }
    100%{
        transform: translateY(0);
    }
}
@media (max-width:991px){
    .heroSection{
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }
    .heroSectionLeft p{
        margin-inline: auto;
    }
    .heroButtons{
        justify-content: center;
    }
}

@media (max-width:768px){
    .heroSection{
        margin-top: 150px;
    }
    .heroSectionLeft h1{
        font-size: 2.5rem;
        text-align: left;
    }
    .heroSectionLeft p{
        font-size: 1rem;
        text-align: left;
    }
}

@media (max-width:480px){
    .heroSection{
        margin-top: 130px;
        gap: 35px;
    }
    .badge{
        font-size: .75rem;
        padding: 7px 15px;
    }
    .heroSectionLeft h1{
        font-size: 2rem;
    }
    .heroButtons{
        flex-direction: column;
    }
    .primaryBtn,
    .secondaryBtn{
        width: 100%;
        text-align: center;
    }
}


/*INTRODUCTION ABOUT SECTION*/
.aboutSection{
    width: min(100% - 1rem, var(--maxWidth));
    margin: 10px auto;
    background-color: var(--whiteTextColor);
    padding-inline: 0;
}

.sectionHeading{
    text-align: center;
    margin-bottom: 30px;
}

.sectionTag{
    display: inline-block;
    color: var(--primary_color);
    font-size: .9rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.sectionHeading h2{
    font-size: clamp(2rem,3vw,3.5rem);
    line-height: 1.1;
    color: var(--darkTextColor);
}


.aboutContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    align-items: stretch;
}
.aboutLeft,
.aboutRight{
    border-radius: 25px;
    padding: 45px;
    overflow: hidden;
    position: relative;
}
.aboutLeft{
    background: var(--primary_color);
    color: white;
}

.aboutRight{
    background: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

/* Decorative circles */
.aboutLeft::before{
    content:"";
    position:absolute;
    width:220px;
    height:220px;
    background:rgba(255,255,255,.05);
    border-radius:50%;
    top:-80px;
    right:-70px;
}
.aboutRight::before{
    content:"";
    position:absolute;
    width:200px;
    height:200px;
    background:#f8f4eb;
    border-radius:50%;
    top:-80px;
    right:-70px;
}


.aboutBadge{
    display:inline-flex;
    align-items:center;
    gap:10px;
    background:var(--headingTextKarkiColor);
    padding:8px 12px;
    border-radius:50px;
    font-size:.8rem;
    font-weight:500;
    margin-bottom:15px;
    position:relative;
    z-index:2;
    color: var(--darkTextColor);
}

.aboutBadge.light{
    background:#F8F6F1;
    color:var(--headingTextKarkiColor);
}

.aboutLeft h3,
.aboutRight h3{
    font-size:2rem;
    line-height:1.1;
    margin-bottom:20px;
    position:relative;
    z-index:2;
}

.aboutRight h3{
    color:var(--headings);
}

.aboutLeft p{
    color:var(--whiteTextColor);
    line-height:1.5;
    margin-bottom:35px;
    position:relative;
    font-size: .95rem;
    z-index:2;
}

.aboutRight > p{
    color:var(--paragraphColor);
    line-height:1.2;
    margin-bottom:20px;
}

.aboutLeft ul{
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-bottom:35px;
    position:relative;
    z-index:2;
}

.aboutLeft li{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:.9rem;
}

.aboutLeft li .material-symbols-outlined{
    background:rgba(255,255,255,.12);
    width:30px;
    height:30px;
    border-radius:50%;
    display:grid;
    place-items:center;
}

.aboutMember{
    display:flex;
    align-items:center;
    gap:15px;
    padding:20px;
    background:rgba(255,255,255,.08);
    border-radius:18px;
}

.aboutMember img{
    width:65px;
    height:65px;
    border-radius:50%;
    object-fit:cover;
}

.aboutMember h4{
    font-size:1rem;
    margin-bottom:4px;
}

.aboutMember p{
    margin:0;
    color:rgba(255,255,255,.75);
    font-size:.9rem;
}


.aboutGrid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
    
}
.infoCard{
    padding:10px 15px;
    border:1px solid #ececec;
    border-radius:18px;
    transition:.35s;
    background:#F8F6F1;
}
.infoCardFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.infoCardFlex h4{
    align-self: flex-start;
}
.infoCard:hover{
    box-shadow:0 12px 25px rgba(0,0,0,.08);
}

.infoCard .material-symbols-outlined{
    width:40px;
    height:40px;
    border-radius:50px;
    display:grid;
    place-items:center;
    background:#fff;
    color:var(--primary_color);
    margin-bottom:10px;
}

.infoCard h4{
    margin-bottom:5px;
}

.infoCard p{
    font-size:.8rem;
    line-height:1.4;
    color:var(--paragraphColor);
}

@media(max-width:992px){

    .aboutContainer{
        grid-template-columns:1fr;
    }

}

@media(max-width:768px){
    .aboutLeft,
    .aboutRight{
        padding:35px 25px;
    }
    .aboutGrid{
        grid-template-columns:1fr;
    }
    .aboutLeft h3,
    .aboutRight h3{
        font-size:1.7rem;
    }
}

@media(max-width:480px){
    .aboutSection{
        margin:80px auto;
    }
    .sectionHeading h2{
        font-size:2rem;
    }

    .aboutMember{
        flex-direction:column;
        text-align:center;
    }
}



/*ACTIVITIES OF LUAC SECTION*/
.categories{
    background: var(--bodeBackgroundColor);
}
.sectionHeader{
    max-width:700px;
    margin:0 auto 4rem;
    text-align:center;
}
.sectionTag{
    display:inline-block;
    margin-bottom:1rem;
    font-size:.85rem;
    font-weight:500;
    letter-spacing:2px;
    color:var(--headingTextKarkiColor);
}
.sectionTitle{
    margin-bottom:1rem;
    font-size:clamp(2rem,3vw,3.5rem);
    line-height:1.1;
    color:var(--darkTextColor);
}
.sectionDescription{
    font-size:1.1rem;
    line-height:1.7;
    color:var(--textGrayColor);
}

.categoriesGrid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:1.5rem;
}

.categoriesCarousel{
    display:none;
}
.categoryCard{
    background:#fff;
    border:1px solid var(--karkiHover);
    border-radius:10px;
    padding:1.5rem;
    transition:.3s ease;
}

.categoryCard:hover{
    border-color:var(--primary_color);
    box-shadow:0 18px 35px rgba(0,0,0,.08);
}

.cardHeader{
    display:flex;
    align-items:center;
    gap:1rem;
    margin-bottom:1rem;
}

.cardHeader h3{
    margin:0;
    font-size:1.1rem;
    font-weight:700;
    line-height:1.1;
    color:var(--darkTextColor);
}
.cardIcon{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-shrink:0;
    width:50px;
    height:50px;
    border-radius:15px;
    background:var(--bodeBackgroundColor);
    transition:.3s ease;
    border: 1px solid var(--karkiHover);

}
.cardIcon span{
    font-size:1.5rem;
    color: var(--headingTextKarkiColor);
}
.categoryCard:hover .cardIcon{
    background:var(--primary_color);
}
.categoryCard:hover .cardIcon span{
    color:#fff;
}

.categoryCard p{
    margin:0;
    font-size:.9rem;
    line-height:1.1;
    color:var(--textGrayColor);
}


@media (max-width:992px){
    .categoriesGrid{
        grid-template-columns:repeat(2,1fr);
    }
}
@media (max-width:768px){
    .categoriesGrid{
        display:none;
    }

    .categoriesCarousel{
        display:block;
        overflow:hidden;
    }
    .carouselTrack{
    display:flex;
    gap:1rem;
    overflow-x:auto;
    scroll-snap-type:x mandatory;
    scroll-behavior:smooth;
    -webkit-overflow-scrolling:touch;
    scrollbar-width:none;
    -ms-overflow-style:none;
    padding:0 1rem 1rem;
    touch-action:pan-x;
    }
    .carouselTrack::-webkit-scrollbar{
        display:none;
    }
    .carouselTrack .categoryCard{
        flex:0 0 85%;
        scroll-snap-align:start;
    }
    .carouselDots{
        display:flex;
        justify-content:center;
        gap:.5rem;
        margin-top:1.5rem;
    }
    .dot{
        width:10px;
        height:10px;
        border-radius:50%;
        background:#d6d6d6;
    }
    .dot.active{
        width:28px;
        border-radius:20px;
        background:var(--primary_color);
    }
    
}

@media (max-width:480px){
    .sectionHeader{
        margin:0 auto 1rem;
        text-align:left;
    }
    .sectionTitle{
        font-size:2rem;
    }
    .sectionDescription{
        font-size:.8rem;
    }
    .carouselTrack .categoryCard{
        flex:0 0 100%;
    }
    .cardHeader h3{
        font-size:1.rem;
    }
    .cardIcon{
        width:50px;
        height:50px;
    }
    .cardIcon span{
        font-size:1.6rem;
    }

}



/*WHY JOIN LUAC*/
.whyJoin{
    background: var(--whiteTextColor);
    min-height: 90vh;
    align-items: center;
    margin: 4rem auto;
}

.whyJoinGrid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:5rem;
    align-items:center;
}
.whyJoinContent .sectionTag{
    display:inline-block;
    margin-bottom:1rem;
    color:var(--headingTextKarkiColor);
    letter-spacing:2px;
    font-size:.85rem;
    font-weight:700;
}
.whyJoinContent .sectionTitle{
    font-size:clamp(2.3rem,3.2vw,3rem);
    line-height:1.1;
    color:var(--darkTextColor);
    margin-bottom:1.5rem;
}

.whyJoinContent .sectionDescription{
    color:var(--textGrayColor);
    line-height:1.4;
    font-size:1rem;
    margin-bottom:2rem;
}

.benefitsGrid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:1rem;
}

.benefitCard{
    display:flex;
    align-items:flex-start;
    gap:1rem;
}

.benefitCard span{
    width:50px;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-shrink:0;
    border-radius:15px;
    background:var(--whiteTextColor);
    color:var(--headingTextKarkiColor);
    font-size:1.5rem;
    transition:.3s ease;
}

.benefitCard h3{
    margin-bottom:.1rem;
    font-size:1rem;
    color:var(--darkTextColor);
}

.benefitCard p{
    color:var(--textGrayColor);
    line-height:1.2;
    font-size:.8rem;
}
.benefitCard:hover span{
    background:var(--headingTextKarkiColor);
    color:#fff;
}

.joinButton{
    display:inline-flex;
    align-items:center;
    gap:.6rem;
    padding:1rem 1.5rem;
    background:var(--primary_color);
    color:#fff;
    border-radius:12px;
    font-weight:700;
    transition:.3s ease;
}
.joinButton:hover{
    box-shadow:0 18px 30px rgba(0,66,37,.25);
}

@media (max-width:992px){
    .whyJoinGrid{
        grid-template-columns:1fr;
        gap:4rem;
    }
}

@media (max-width:768px){
    .benefitsGrid{
        grid-template-columns:1fr 1fr;
    }

}

@media (max-width:480px){
    .whyJoinContent .sectionTitle{
        font-size:2rem;
    }
    .whyJoinContent .sectionDescription{
        font-size:.8rem;
    }
    .benefitCard{
        grid-template-columns: 1fr 1fr;
        gap:.2rem;
    }
    .benefitCard span{
        width:40px;
        height:40px;
        font-size:1rem;
    }
    .benefitCard h3{
        font-size:1rem;
    }

}



/*FOOTER SECTION*/
.footer {
    background: var(--darkTextColor);
    color: var(--navlink);
}
.footerCTA {
    text-align: center;
    padding: 80px 20px;
    background: var(--darkTextColor);
}

.footerCTA h2 {
    font-size: 3rem;
    margin: 15px 0;
    font-family: "Oswald", sans-serif;
    line-height: 1.3;
}

.footerCTA p {
    max-width: 600px;
    margin: auto;
    color: var(--navlink);
}

.footerStats {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.stat h3 {
    font-size: 1.5rem;
    margin-bottom: 2px;
    line-height: 1.1;
    color: var(--whiteTextColor);
}

.stat p {
    color: var(--navlink);
}

.footerMain {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 40px;
    padding: 20px 20px;
}

.footerBrand h2 {
    margin-bottom: 10px;
    color: var(--whiteTextColor);
}

.footerBrand p {
    color: var(--navlink);
    line-height: 1.2;
    
    
}
.footerContact{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footerContact p {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    color: var(--navlink);

}

.footerContact .material-symbols-outlined {
    font-size: 18px;
    color: var(--headingTextKarkiColor);
}
.footerCol h3 {
    margin-bottom: 10px;
    color: var(--whiteTextColor);
    font-weight: 400;
}

.footerCol a {
    display: block;
    color: var(--navlink);
    margin-bottom: 5px;
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s;
}
.footerCol a:hover {
    color: var(--headingTextKarkiColor);
}
.footerBottom {
    border-top: 1px solid var(--navlink);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--navlink);
}

.footerBottomLinks a {
    margin-left: 15px;
    color: var(--navlink);
    text-decoration: none;
}

.footerBottomLinks a:hover {
    color: var(--headingTextKarkiColor);
}
@media (max-width: 900px) {
    .footerMain {
        grid-template-columns: 1fr 1fr;
    }

    .footerStats {
        gap: 30px;
    }
}

@media (max-width: 600px) {
    .footerMain {
        grid-template-columns: 1fr;
        text-align: left;
    }

    .footerBottom {
        flex-direction: column;
        text-align: left;
        gap: 10px;
    }

    .footerContact p {
        justify-content: center;
    }
    .footerCTA {
    text-align: left;
    background: var(--darkTextColor);
    }
    .footerCTA h2 {
        font-size: 2rem;
        margin: 10px 0;
        font-family: "Oswald", sans-serif;
        line-height: 1.1;
    }

    .footerCTA p {
        color: var(--navlink);
    }


    .footerStats .stats{
        display: flex;
        align-items: flex-start;
        margin-left: 5px;
    }
    }
